{% extends 'base.html' %}
{% load i18n %}
{% load front_page %}
{% load imagekit %}

{% block content %}
   {% frontpage_news %}

    <div class="row">
     {% for recipe in new_recipes|slice:"0:3" %}
      <div class="col-sm-9 col-md-3">
            <div class="thumbnail">
              <a href="{{ recipe.get_absolute_url }}"> {% generateimage 'recipe:detail' source=recipe.photo -- alt=recipe class="img-thumbnail" %}</a>
                <div class="caption">
                    <h4>{{ recipe.title }}</h4>
                    <p>chef: <a href="{{ recipe.author.get_profile.get_absolute_url }}">{{ recipe.author }}</a></p>
                    <p>{{ recipe.info|striptags|truncatewords:50 }}</p>
                </div>
            </div>
      </div>
     {% endfor %}
    </div>
    <div class="row">
     {% for recipe in new_recipes|slice:"3:6" %}
      <div class="col-sm-9 col-md-3">
            <div class="thumbnail">
              <a href="{{ recipe.get_absolute_url }}"> {% generateimage 'recipe:detail' source=recipe.photo -- alt=recipe class="img-thumbnail" %}</a>
                <div class="caption">
                    <h4>{{ recipe.title }}</h4>
                    <p>chef: <a href="{{ recipe.author.get_profile.get_absolute_url }}">{{ recipe.author }}</a></p>
                    <p>{{ recipe.info|striptags|truncatewords:50 }}</p>
                </div>
            </div>
      </div>
     {% endfor %}
    </div>
{% endblock %}
