{% extends "base.html" %}
{% comment %}This template is the recipe detail view{% endcomment %}

{% load i18n %}
{% load recipe_keywords %}
{% load sanitize %}
{% load recipe_links %}
{% load imagekit %}
{% load static %}

{%block title %}{{ block.super }}- {{ recipe }} {% endblock %}
{% block keywords %}<meta name="keywords" content="{% recipe_keywords recipe.id 10 %}"/>{% endblock %}
{% block jscript %}
  <link rel="stylesheet" href="{% static 'js/jquery/fancybox/source/jquery.fancybox.css' %}" />
  <script type="text/javascript" src="{% static 'js/jquery/fancybox/source/jquery.fancybox.pack.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.ui.stars/jquery.ui.stars.js' %}"></script>
  <link rel="stylesheet" href="{% static 'js/jquery.ui.stars/crystal-stars.css' %}" />
  <script type="text/javascript" src="{% static 'js/jquery/jquery.jeditable.js' %}"> </script>
  <script type="text/javascript" src="{% static 'js/oe_email.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/oe_recipeDetail.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $("a, button", "#toolbar").button();
      $('#recipe-store').click(function() {
        $.post('/recipe/store/{{ recipe.id }}/', function(data) {
        $('div.alert-info').html(data).fadeIn(600).delay(3000).fadeOut(900);
      });
    });
    $('#recipe-report').click(function() {
      $.post('/recipe/report/{{ recipe.slug }}/', function(data) {
        $('div.alert-info').html(data).fadeIn(600).delay(3000).fadeOut(900);
      });
    });
   });
    //used to save a note on a recipe
  $(document).ready(function() {
    $('#recipe-note p').editable('/recipe/ajaxnote/', {
        indicator : 'Saving...',
        tooltip   : 'Click to edit...',
        type      : 'textarea',
        cancel    : 'Cancel',
        submit    : 'OK',
        submitdata : {recipe: "{{ recipe.id }}"},
        name       :  'note',
        cssclass : 'editable',
        event    : 'dblclick'
    })
  });
  </script>

 {% if request.user.is_authenticated and not vote %}
   <script type="text/javascript">
     $(document).ready(function () {
        // Create caption element
    	var $caption = $('<div id="caption"/>');
        $("#recipe-rate").stars({
           inputType: "select",
           captionEl: $("#rating-cap"),
           oneVoteOnly: true,
           callback: function(ui, type, value) {
             // Display message to the user at the begining of request
  		    $("#messages").text("Saving...").fadeIn(30);
            $.post('/recipe/ajax-raterecipe/{{ recipe.id }}/' + value + '/', function(json) {

               // Change widget's title
  		      $("#rating-title").text("Average rating");
              // Select stars from "Average rating" control to match the returned average rating value
  		      ui.select(Math.round(json.avg));

             // Update widget's caption
  		     $caption.text(" (" + json.votes + " votes; " + json.avg + ")");

             // Display confirmation message to the user
  		    $("#messages").text("Rating saved (" + value + "). Thanks!").stop().css("opacity", 1).fadeIn(30);

            // Hide confirmation message after 2 sec...
            setTimeout(function(){
              $("#messages").fadeOut(1000)}, 2000);
           }, "json");
          }
        });
        // Append caption element !after! the Stars
  	    $caption.appendTo("#recipe-rate");

  	    // Create element to use for confirmation messages
  	    $('<div id="messages"/>').appendTo("#recipe-rate");
     });
   </script>
 {% else %}
   <script type="text/javascript">
     $(document).ready(function () {
        var $caption = $('<div id="caption"/>');
        $("#recipe-rate").stars({
             inputType: "select",
             disabled: true
         });
         // Change widget's title
         $("#rating-title").text("Average rating");
         $caption.text(" (" + '{{ recipe.rating.votes }}' + " votes)");

        // Append caption element !after! the Stars
  	   $caption.appendTo("#recipe-rate");
     });
   </script>

  {% endif %}

  <script type="text/javascript">
    $(document).ready(function () {
      //set the average rating on the stars
       var avg = '{{recipe.rating.score}}' / '{{recipe.rating.votes}}';
       var selectid = avg - 1;  // the average rating and minus one selects start with zero so a score of one is actuall an id of 0
      $("#recipe-rate").stars("selectID", selectid); //set the select value to the avg rate
    });
  </script>

{% endblock %}

{% block content %}
    <div class="alert alert-info" style="display:none;"></div>

    <div class="page-header">
      <h1>{{ recipe.title }}</h1>
    </div>

    <div class="recipe-toolbar">
      <a class="btn btn-primary btn-sm" href="/recipe/print/{{ recipe.slug }}/">{%trans 'print' %}</a>
      <a class="btn btn-primary btn-sm fancybox.iframe" id="cook-view" href="/recipe/cook/{{ recipe.slug }}/">{%trans 'cook' %}</a>

        {% if recipe.author == request.user %}
        <a class="btn btn-primary btn-sm" href="{% url 'recipe_edit' user=request.user.username slug=recipe.slug %}">{% trans 'edit' %}</a>
        {% endif %}

        {% autoescape off %}
        {% fav_link request.user recipe.id %}
        {% endautoescape %}
       <a class="btn btn-primary btn-sm" href="{% url 'recipe_export' slug=recipe.slug %}">pdf</a>

        {% if request.user.is_authenticated %}
            <a class="btn btn-primary btn-sm" href="{% url 'grocery_addrecipe' recipe_slug=recipe.slug %}">{% trans 'add to list' %}</a>
            <a class="btn btn-primary btn-sm" title="{% trans 'email recipe ' %} {{ recipe }}" id='email-link' href="{% url 'recipe_mail' id=recipe.id %}">{% trans 'email' %}</a>
            {% autoescape off %}
            {% report_link request.user recipe.id %}
            {% endautoescape %}
        {% endif %}
    </div>

    <div class="pull-right" id="tags">
        <p><i class="glyphicon glyphicon-tags"></i> {% trans 'tags:' %}</p>
        {% for tag in recipe.tags.all|slice:":10" %}
          <a href="{% url 'recipe_tags' tag=tag.slug %}" rel="tag" alt="{tag}">{{ tag }}</a>
        {% endfor %}
    </div>

    <form>
      <div class="pull-right"  id="recipe-rate">
        <p id="rating-title"><strong>{%trans 'rate this:' %}</strong> <span id="rating-cap"></span></p>
        <select name="selrate">
            <option value="1">{%trans 'Poor' %}</option>
            <option value="2">{%trans 'Fair' %}</option>
            <option value="3">{%trans 'OK' %}</option>
            <option value="4">{%trans 'Good' %}</option>
            <option value="5">{%trans 'Wow' %}</option>
        </select>
      </div>
    </form>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                {% if recipe.photo %}
                    <a id="recipe-photo" href="{{ recipe.photo.url }}"
                       title="{{ recipe }}"> {% generateimage 'recipe:detail' source=recipe.photo -- alt=recipe id="recipe-thumb" %}</a>
                {% else %}
                    <a href="{% static 'images/parsley.jpg' %}"> <img src="{% static 'images/parsley.jpg' %}"
                                                                       alt="{{ recipe }} photo"/></a>
                {% endif %}
                <p><span>{% trans "Chef:" %}</span> <a
                        href="{{ recipe.author.get_profile.get_absolute_url }}">{{ recipe.author }}</a></p>

                <div class="caption">
                    <div id="recipe-cook">
                        <ul>
                            <li><i class="glyphicon glyphicon-info-sign"></i> <span>{% trans "serves" %}</span> {{ recipe.servings }}
                            </li>
                            <li><i class="glyphicon glyphicon-time"></i>
                                <span>{% trans "cook time" %}</span> {{ recipe.cook_time }}
                                minute{{ recipe.cook_time|pluralize }}</li>
                        </ul>
                    </div>
                    <ul class="recipe-groups">
                        <li><span>{% trans "Course:" %}</span> <a
                                href="{% url 'course_recipes' slug=recipe.course.slug %}">{{ recipe.course }}</a></li>
                        <li><span>{% trans "Cuisine:" %}</span> <a
                                href="{% url 'cuisine_recipes' slug=recipe.cuisine.slug %}">{{ recipe.cuisine }}</a>
                        </li>
                    </ul>
                    <p>{{ recipe.info|sanitize_html|safe }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span
                            class="glyphicon glyphicon-th-list"></span> {% trans "Ingredients" %}</h3>
                </div>

                <ul class="list-group">
                    {% for ing in recipe.ingredients.all %}
                        <li class="list-group-item"> {{ ing.quantity }} {{ ing.measurement }}
                            - {{ ing.title }} {{ ing.preparation }}</li>
                    {% endfor %}
                </ul>

                {% if recipe.related %}
                    <h4>{{ recipe.related }}</h4>
                    <ul class="list-group">
                        {% for ing in recipe.related.ingredients.all %}
                            <li class="list-group-item"> {{ ing.quantity }} {{ ing.measurement }}
                                - {{ ing.title }} {{ ing.preparation }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div id="recipe-directions" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-pencil"></i> {% trans "Directions" %}</h3>
                </div>
                <div class="panel-body">
                    {{ recipe.directions|sanitize_html|safe }}
                    {% if recipe.related %}
                        <h4>{{ recipe.related }}</h4>
                        {{ recipe.related.directions|sanitize_html|safe }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
    {% if request.user.is_authenticated %}
      <div id="recipe-note">
         <h4>{%trans 'Your Notes:' %}</h4>
         {% if note %}
           {% for n in note %}
             <p class="note">{{ n.text }}</p>
           {% endfor %}
         {% else %}
           <p class="note">click to add a note...</p>
         {% endif %}
      </div>
   {% endif %}

    <div id="recipe-comments">
            <h2>{% trans 'comments' %}</h2>
            {% load disqus_tags %}
            {% disqus_dev %}
            {% disqus_show_comments %}
        </div>
{% endblock %}

