{% extends 'base.html' %}

{% block content %}
<h2>Your Recipes</h2>
<ul>
{% for recipe in recipe_list %}
    <li><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></li>
{% endfor %}
</ul>
{% endblock %}