<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    {% block keywords %}
        <meta http-equiv="keywords" content="Recipes, OpenEats2, OpenEats, Django, Grocery List, Grocery Lists, Share Recipes, rated recipes"/>
    {% endblock %}
    <meta name="description" content="Amazing Recipes and beautiful food photography. Created as well as rated by you and fellow foodies."/>
    <title>{% block title %}{{ OETITLE }}{% endblock %}</title>
    {% block feeds %}
        <link href="/feed/recent/" rel="alternate" type="application/rss+xml"
              title="{{ OETITLE }}{% blocktrans %}Top Recipe Feed{% endblocktrans %}"/>{% endblock %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/redmond/jquery-ui.css" rel="stylesheet"/>
    {% block jscript %}{% endblock %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-flatly-theme.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/oe.css' %}" />

     <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
   <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container-fluid">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">{{ OETITLE }}</a>
       </div>
         <div class="navbar-collapse collapse">
           {% load navbar %}
           {% navbars %}
           {% if request.user.is_authenticated %}
               <ul class="nav navbar-nav navbar-right">
                 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                     {{ request.user }} <span class="caret"></span>
                 </a>
                 <ul class="dropdown-menu" role="menu">
                   <li><a href="{{request.user.get_profile.get_absolute_url}}"><i class="glyphicon glyphicon-user"></i> {% trans 'profile' %}</a></li>
                   <li><a href="{% url 'grocery_list' %}"><i class="glyphicon glyphicon-list"></i> {% trans 'grocery lists' %}</a></li>
                   <li class="divider"></li>
                   <li><a href="{% url 'auth_logout' %}"><i class="glyphicon glyphicon-asterisk"></i> {% trans 'logout' %}</a></li>
                 </ul>
           {% else %}
             <ul class="nav navbar-nav navbar-right">
                 <li><a href="{% url 'auth_login' %}">{% trans 'sign in' %}</a></li>
                 <li><a href="{% url 'registration_register' %}">{% trans 'sign up' %}</a></li>
             </ul>
           {% endif %}
           </div>
         </div><!--/.navbar-collapse -->
      </nav> <!--./navbar -->

   {% if messages %}
     {% for message in messages %}
       <div class="alert alert-{{  message.tags  }}">
         {{ message }}
       </div>
     {% endfor %}
   {% endif %}

   <div class="container-fluid">
     <div class="row">
       <div class="col-sm-2">
         <div class="well sidebar-nav">
           {% block sidebar %}
           {% load sidebar %}
           {% browse_tag %}
           {% endblock %}
         </div><!--/.well -->
       </div><!--/span-->

       <div class="col-md-9">
         {% block content %}{% endblock %}
       </div>
     </div><!--/row-->

     <hr>

     <footer>
        &copy;The Home Bistro 2017
    </footer>
   </div><!--/.fluid-container-->

    <!-- javascript
   ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/oe.js' %}"></script>

  </body>
</html>
