{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if form.errors %}
    <div class="alert alert-danger">
        <strong>{% trans 'Alert!' %}</strong> {% trans "Your username and password didn't match. Please try again."%}
    </div>
{% endif %}

    <form class="well form-vertical" method="post">{% csrf_token %}
        {{ form.username.label_tag }}
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
            {{ form.username }}
        </div>
        {{ form.password.label_tag  }}
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
            </span>
            {{ form.password }}
        </div>

        <input type="hidden" name="next" value="{{ next }}" />
        <button type="submit" class="btn">{% trans 'login' %}</button>
    </form>
{% endblock %}